<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WRKT</title>
    <link rel="shortcut icon" type="image/png" href="images/icon.png"/>
    <link rel='stylesheet' href='/header.css'>
    <link rel='stylesheet' href='/footer.css'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='/table.css'>
    <link rel='stylesheet' href='/list.css'>
    <script src="/ajax.js" async ></script>
    <script src="/script.js" async ></script>
</head>
<body>

    <div class="navbar">
      <div class='left_menu'>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
     
        <ul class="menu">
          <li><a class="" href="/" alt="" onclick="selectMenuBttn()" >Strona Główna</a></li>

          <li><a class="" href="/exercices" alt=""  onclick="selectMenuBttn()" >Ćwiczenia</a></li>

          <li><a class="" href="/newWrktPlan" alt="" onclick="selectMenuBttn()">Zdefiniuj Plan</a></li>

          <li><a class="" href="/crrnt_wrkt" alt="" onclick="selectMenuBttn()">Zapisz Trening</a></li>

          <li><a class="" href="/edit_wrkt" alt="" onclick="selectMenuBttn()">Edytuj Trening</a></li>
      </ul>
      </div>
        <div class="right_menu">
            <a class="logout" href="/logout" alt="">Wyloguj</a>
        </div>
    </div>
    <div class='main'>


    