<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WRKT</title>
    <link rel="shortcut icon" type="image/png" href="images/icon.png"/>
    <link rel='stylesheet' href='app.css'>
    <link rel='stylesheet' href='semantic_ui.css'>
    <script src="ajax.js" async ></script>
    <script src="script.js" async ></script>
</head>
<body>
    
        <ul class="ui top attached tabular menu">
            <p><a href="/"alt="" class="item start" onclick="selectMenuBttn()" >Strona Główna</a></p>
           
            <p><a href="/exercices" alt="" class="item" onclick="selectMenuBttn()" >Ćwiczenia</a></p>

            <p><a href="/newWrktPlan" alt="" class="item" onclick="selectMenuBttn()">Zdefiniuj Plan</a></p>

            <p><a href="/crrnt_wrkt" alt="" class="item" onclick="selectMenuBttn()">Zapisz Trening</a></p>

        </ul>



    </form>