<% include partials/header %>






<div class="selectWrkt">
<p>Dodaj nowy trening:</p>  
 
    <form action="/addWrkt" method="GET">

    <select name="WrktName" id="WrktID" onchange="selectUnblock(), ajax('GET','variantID')">
      <option hidden disabled selected value>Trening</option>
        <% result.forEach(function(select){ %>
        <option class="WrktIDopt" value='<%= select["ID"] %>'><%= select["DTYPE"] %></option>
        <% }) %> 
    </select>
    <select name="variant" id="variantID" disabled onchange="this.form.submit();">
        <option hidden disabled selected value>Dzień Treningowy</option>
          
      </select>
  </form>
</div>

  
<% include partials/footer %>
         
  