<% include partials/header %>

<h1>Lista ćwiczeń: </h1>

<% result.forEach(function(exercise){ %>
  <li> <%= exercise["dtype"] %> </li>
  <% }) %> 
     



<div class='formContainer'>
<h2><%= info %></h2>

<form action='/insrt' method='POST'>
  <input type='text' name='search' class="WrktIDopt" placeholder="Dodaj nowe ćwiczenie...">
  <input type="submit" class='wrktBttn' value="Zatwierdź">
</form>

<form action='/dlt' method='GET'>
  <input type='text' name='search' class="WrktIDopt" placeholder="Usuń ćwiczenie...">
  <input type="submit" class='wrktBttn' value="Zatwierdź">
</form>
</div>

<% include partials/footer %>
         



  