<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WRKT</title>
    <link rel='stylesheet' href='app.css'>
    <script src="" async ></script>
</head>
<body>
<p ><a href="/"><img src="images/homepageBttn.png" alt="" class="homepage"></a></p>

<p><a href="/crrnt_wrkt" alt="" class="crrnt_wrkt">Ostatni Trening</a></p>

    <form action="query" method='GET'>
        <select name="selectbox" id="" onchange="this.form.submit();" >  
            <option hidden disabled selected value> -- Wybierz... -- </option>
            <option value="EXERCICES">Pokaż Ćwiczenia</option>
            <option value="WRKT_PLAN">Pokaż Plany Treningowe</option>
        </select>

    </form>

    <form action='/insrt' method='POST'>
        <p>Dodaj nowe ćwiczenie:</p>
        <input type='text' name='search' placeholder="Wpisz nazwę ćwiczenia...">
        <input type="submit" value="Zatwierdź">
    </form>

    <form action='/dlt' method='GET'>
        <p>Usuń ćwiczenie:</p>
        <input type='text' name='search' placeholder="Wpisz nazwę ćwiczenia...">
        <input type="submit" value="Zatwierdź">
    </form>

 
</body>
</html>