<form action='/login' method="POST">
    <input type='text' placeholder="Użytkownik" name='username'>
    <input type='password' placeholder="Hasło" name = 'password'>
    <button>Zaloguj</button>
</form>