<h1>Zaloguj się</h1>
<div>
    <form action='/login' method="POST">
        <input type='text' placeholder="Użytkownik" name='username'>
        <input type='password' placeholder="Hasło" name = 'password'>
        <button>Zaloguj</button>
    </form>
</div>

<p>Nie masz konta? Zarejestruj się: <a href="/register">Klik!</a></p>