<% include partials/header %>



  <form class="wrktForm"  action="" method="">

  <h2 class='tblHdr'>Dodaj nowy trening:</h2> 

  <div class="selectWrktToSave"> 
    <div>
      <select class="selectBttn" name="WrktName" id="WrktID" onchange="selectUnblock(), ajaxVariant('GET','variantID')">
        <option hidden disabled selected value>Trening</option>
          <% result.forEach(function(select){ %>
          <option class="WrktIDopt" value='<%= select["id"] %>'><%= select["name"] %></option>
          <% }) %> 
      </select>
      <select class="selectBttn" name="variant" id="variantID" disabled onchange="ajaxSeries('GET','tRows')">
          <option hidden disabled selected value>Dzień</option>
      </select>
    </div>
      <input type='date' id='wrktDate' name='wrktDate' required>
  </div>



  <div class="wrktTbl hiddenElem">

  <hr>
  
  <table class="lastWrkt">
    <thead>
        <th class="text-left">Ćwiczenie</th>
        <th class="text-left">Ilość serii</th>
    </thead>
    <tbody id='tRows' class="table-hover">

    </tbody>
  </table>
  </div>
  
  <div class='rowBttns hiddenElem'>
    <input type='submit' class='wrktBttn button' id='wrktSeriesBttn' value='Zapisz Trening'  onclick='sendWrkt()'>
  </div>
</form>

  
<% include partials/footer %>
         
  