<% include partials/header %>


  
  <div class="wrktTbl">
  <form action='/insrtWrkt' method='POST'>
    <table class="lastWrkt">
      <thead>
        <th class="text-left">Dzień Treningowy</th>
        <th class="text-left">Nazwa Ćwiczenia</th>
        <th class="text-left">Numer Serii</th>
        <th class="text-left">Ilość Powtórzeń</th>
        <th class="text-left">Ciężar</th>
      </thead>
      <% result3.forEach(function(select){ %>
      <tbody class="table-hover" >
          <td class="text-left"><%= select["DzienTreningowy"] %></td>
          <td class="text-left"><%= select["NazwaCwiczenia"] %></td>
          <td style='display:none;'><input type="hidden" name='WrktId' value ='<%= select["SchemaId"] %>'></td>
          <td class="text-left"> <input type="number" name="NumerSerii" placeholder="Numer Serii" min="1" max="10" required></td>
          <td class="text-left"> <input type="number" name="IloscPowtorzen" placeholder="Ilość Powtórzeń" min="1" max="100" required></td>
          <td class="text-left"> <input type="number" name="Ciezar" placeholder="Ciężar" min="1" max="1000" step="0.25" required></td>
      </tbody>
      <% }) %> 
    </table>
    <input class='wrktBttn' id='wrktAddbttn' type="submit" value="Dodaj">

</form>
</div>
  
<% include partials/footer %>
         
  