<h1> signup form</h1>

<form action='/register' method='POST'>
    <input type='text' name='username' placeholder="Użytkownik">
    <input type='password' name='password' placeholder="Hasło">
    <button>Zarejestruj</button>
</form>