

body {
    color: black;
    background-color: ghostwhite;
    font-family: 'Arial';
}


.homepage {
    height: 2%;
    width: 2%;
}


.hrefBttn, .selectWrkt {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


div.wrktTbl, .selectWrkt {
  display: block;
  margin: auto;
  padding:5px;
  width: 100%;
  text-align: center;
}

.tblHdr, .selectWrkt {

   text-align: center;
}


/*** Table Styles **/

.lastWrkt {
  background: white;
  border-radius:3px;
  border-spacing: 0px;
  height: auto;
  margin: auto;
  max-width: 30%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  border:1px solid #dcdcdc;
}

 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:10px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  width:100%;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  text-align: center;
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}


td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


.wrktBttn {
    background-color: #EBEBEB;
	border-radius:3px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    display:inline-block;
    margin: 10px auto;
}
   

.wrktBttn:hover {
	background:linear-gradient(to bottom, ghostwhite 5%, white 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.wrktBttn:active {
	position:relative;
	top:1px;
}

#WrktID, .WrktIDopt, #variantID, #wrktDate {
    background-color: white;
	border-radius:3px;
	border:1px solid #dcdcdc;
	/*display:inline-block;*/
	cursor:pointer;
	color: rgba(63, 63, 63, 0.966);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align: center;
}


#wrktDate {
  background-color: white;
border-radius:3px;
border:1px solid #dcdcdc;
/*display:inline-block;*/
cursor:pointer;
color: rgba(63, 63, 63, 0.966);
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 0px;
text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  text-align: center;
}

#wrktDate {
  -webkit-appearance: none;
}

#wrktDate::-webkit-inner-spin-button
{
  display: none;
  -webkit-appearance: none;
}


#WrktID:hover {
	background:linear-gradient(to bottom, ghostwhite 5%, white 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

a.item:hover{
border-bottom:  solid black!important;
}

/*removes list styling in wrkt save table*/
td>li{
  list-style: none;
}

.execName:hover{
  cursor: pointer;
}

#wrktSeriesBttn{
  display:inherit;
}

.repList{
  display: inline-block;
}


.hidden{
  display:none;
}
