.container {
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
}

.item{
    margin: 0;
	padding: 1% 0% 1% 5%;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 3%;
    background-image: url("images/icon.png");
}

.delete{
    color: red;
    border:0;
    margin-left: 15px;
    background-color: white;
}

.delete:hover{
    background-color:whitesmoke;
}