

.selectWrkt{
    display: inline-block;
    align-items: center;
}

.WrktIDopt,.WrktIDopt::after {
    display: inline;
    border: 1px solid grey;
    background-color: whitesmoke;
    transition: background-color .3s;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.inputDay, .inputDay::after{
    border: 1px solid grey;
    background-color: whitesmoke;
    transition: background-color .3s;
    border-radius: 5px;
    padding: 10px;
    width: 5em;
    text-align: center;
}

.selectBttn{
    background-color: whitesmoke;
    transition: background-color .3s;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
 }

.button, button::after{
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    background-color: rgba(204, 204, 204, 0.918);
    transition: background-color .3s;
    padding: 10px; 
    margin: 5px 0 0 5px; 
}

.button:hover, input:hover{
    background-color:rgba(180, 180, 180, 0.918);
    transition: background-color .3s;
    cursor: pointer;
}

.wrktForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowBttns{
    /* display: inline-block; */
    text-align:center;
}

.selectWrktToSave{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrktDate {
    background-color: white;
    border-radius:10px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color: black;
    font-family:Arial;
    margin:0.5em;
    width: 100%;
    height: 3em;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align: center;
  }
  
  #wrktDate {
    -webkit-appearance: none;
    background:#fff url('images/calendar.png') 97% 50% no-repeat ;
  }
  
  #wrktDate::-webkit-clear-button,#wrktDate::-webkit-inner-spin-button
  {
    display: none;
    -webkit-appearance: none;
  }

  #wrktDate::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  