.tblHdr {
    text-align: center;
 }

.lastWrkt{
  margin: auto;
}

.wrktTbl{
   margin: auto;
   width: fit-content;
 }
table {
    /* border: 2px solid rgba(204, 204, 204, 0.918);  */
    /* border-collapse: collapse;  */
    margin: 0;
    padding: 0;
    /* width: 100%; */
    table-layout: fixed;
    border-radius: 10px;
  }
  

  table {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
    border-radius: 10px;
  }


  table th,
  table td {
  padding: .625em;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}

table th {
    font-size: 1em;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    
    .main {
        width: 90%;  
    }


    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }

    table td {
      display: block;
      font-size: .8em;
      text-align: center;
    }
    

    table td::before {
      content: attr(data-label);
      text-align: center;
      padding: 10px;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    table tr:last-child{
        margin-bottom: 0;
    }
  }


  table li{
      list-style-type: none;
      border-bottom: 1px solid rgb(136, 136, 136);
  }